*{
    margin: 0px;
    padding: 0px;
} 

body{
    display: block;
    background-image: url("assets/piano4.jpg"  );
    background-size: 100vw 100vh;
}

.container{
    margin: 0 auto; 
    width: 55vw;
    height: 100vh;
}

.keyContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    align-items: end;
    gap: 10px;
}

.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 3px white solid;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular' sans-serif;
    color: white;
    transition:all 0.08s;
    margin-bottom: 20px;
}

.key.clicked{
    border: 3px yellow solid;
    box-shadow: 0px 0px 5px yellow;
    transform:scale(1.1);
}

.key:hover{
    cursor:pointer;
}

h2{
    color: white;
}

h6{
    color: rgb(255, 208, 0);
}